.App {
  text-align: center;
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  height: 50px;
}


